script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
//
  for search bar
link(rel="stylesheet prefetch", href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
link(rel="stylesheet prefetch", href="http://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.3/animate.min.css")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css")
// for user icon
link(rel="stylesheet", href="https://www.w3schools.com/w3css/4/w3.css")
link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
nav.navbar.navbar-default.banner
    .container-fluid
        .navbar-header
            button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1", aria-expanded="false")
                span.sr-only Toggle navigation

                span.icon-bar

                span.icon-bar

                span.icon-bar
            // <a class="navbar-brand" href="index.ejs"><img class="icon" src="https://i.imgur.com/gZuhKLj.png" style="width:50px;height:50px;"/></a>
            // <a class="navbar-brand" href="new_word"> New Words</a>
            // <a class="navbar-brand" href="review"> Review</a>
            ul
                li
                    a#icon(href="/")
                        img(src="https://i.imgur.com/hZ2rDzS.png", style="width:30px;height:30px;")

                li
                    a.navbar-brand(href="new_word")
                        sub New Words

                li
                    a.navbar-brand(href="news.asp")
                        sub Review

        #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul#right_side.nav.navbar-nav.navbar-right.navbar-nav-primary

                if user
                    li
                        a(id="emailadd") #{user.email}
                    li
                        a#logout(href="logout") Logout
                else
                    li
                        a#login(href="login") Login

                    li
                        a#signup(href="signup") Sign up
