<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Aspada's Dictionary</title>-->
    <!--<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>-->
    <!--<link rel='stylesheet prefetch' href='http://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.3/animate.min.css'>-->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">-->
    <!--<link rel="stylesheet" type="text/css" href="/index_style.css">-->
<!--</head>-->
<!--<body>-->

    <!--&lt;!&ndash;nav bar below, change to include in node js or use js script in the future to make code easy to understand&ndash;&gt;-->
    <!--<% include partials/navbar %>-->
    <!--&lt;!&ndash;end of nav bar&ndash;&gt;-->

    <!--&lt;!&ndash;real website body here&ndash;&gt;-->
    <!--<div class="container">-->
        <!--<div>-->
            <!--<ul class="all_img_list">-->
                <!--<li>-->
                    <!--<a><img src="https://img3.doubanio.com/lpic/s2165034.jpg"></a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->



<!--</body>-->
<!--</html>-->