doctype html
html(lang="en")
    head
        meta(charset="UTF-8")

        title Login or Register Form

        link(rel="stylesheet prefetch", href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
        link(rel="stylesheet prefetch", href="http://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.3/animate.min.css")

        link(rel="stylesheet", href="login.css")
    body
        .container
            video#myVideo(autoplay="", muted="", loop="")
                source(src="/background.mp4", type="video/mp4")
            .row
                .col-sm-12
                    ul.tabs
                        li
                            a#1(href="#") LOGIN
                        li
                            a#2(href="#") SIGN UP
                .col-sm-12
                    form#login(action='/login', method='post')
                        .col-sm-12.container
                            .input
                                input.main-form.animated.bounceInDown(type="text", name="username", placeholder=" EMAIL ADDRESS")

                            .input
                                input.main-form.animated.bounceInDown(type="password", name="password", placeholder=" PASSWORD")

                            .input
                                input.main-form.btn.animated.bounceInDown(type="submit", name="username", value="LOGIN", formaction="/login")

                            .input
                                a(href="./index")
                                    input.main-form.btn.animated.bounceInDown(type="button", name="back", onclick="", value="BACK")

                            .input
                                label.pull-left
                                    input(type="checkbox")
                                    | Remember me

                                label.pull-right
                                    a#3.forget-password(href="#") Forgot password ?

                    form#register(action="/signup", style="display: none;")
                        .col-sm-12.container
                            .input
                                input.main-form.animated.bounceInDown(type="text", name="name", placeholder=" NAME")

                            .input
                                input.main-form.animated.bounceInDown(type="text", name="email", placeholder=" EMAIL ADDRESS")

                            .input
                                input.main-form.animated.bounceInDown(type="password", name="password", placeholder=" PASSWORD")

                            .input
                                input.main-form.btn.animated.bounceInDown(type="submit", name="submit", value="SIGN UP", formaction="/signup")

                    #forgetP.form.row(style="display: none;")
                        .col-sm-12.container
                            .input
                                p
                                    | To reset your password enter your email we'll send you a link to reset your password.

                            .input
                                input.main-form.animated.bounceInDown(type="text", name="username", placeholder=" EMAIL ADDRESS")

                            .input
                                input.main-form.btn.reset.animated.bounceInDown(type="button", name="", value="RESET PASSWORD")

    script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    script(src="login.js")