<nav class="navbar navbar-default banner">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index">ProjectX</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right navbar-nav-primary">
                <li>
                    <!-- should be action="/search" method="post" role="search" -->
                    <form class="search-container" action="/search" method="post" role="search">
                        <input id="search-box" type="text" class="search-box" placeholder="Search a project">
                        <label for="search-box"><span class="glyphicon glyphicon-search search-icon"></span></label>
                        <input type="submit" id="search-submit"/>
                    </form>
                </li>
                <li><a href="login" id="login">Login</a></li>
                <li><a href="newproject.html" id="newproject">Create Project</a></li>
            </ul>
        </div>
    </div>
</nav>